#main-wrapper[data-layout=vertical] .topbar .navbar-collapse[data-navbarbg=skin1], #main-wrapper[data-layout=vertical] .topbar[data-navbarbg=skin1], #main-wrapper[data-layout=horizontal] .topbar .navbar-collapse[data-navbarbg=skin1], #main-wrapper[data-layout=horizontal] .topbar[data-navbarbg=skin1] {
  background-color: #ee1a26 !important;
}
body {
  font-family: sans-serif;
}
.dataTables_filter {
  display: none;
}
.select2-container .select2-selection--single {
  height: 36px;
  border: 1px solid #e9ecef;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 36px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 34px;
}
.move {
  font-size: 18px;
}
