@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap');

$break-mobile: 320px;
$break-500 :500px;
$break-tablet: 768px;
$break-1024: 1024px;
$break-1200: 1200px;
$break-1500: 1500px;
$color-primary : #ee1a26;
$color-content : #424141;
$color-gray : #ededed;

body{
    font-family: Roboto;
    margin: 0;
    background: #fff;
    overflow-x: hidden;
    color: $color-content;
}
.btn-default{
    background-color: $color-primary;
    color: #fff;
}
.border-radius{
    border-radius: 0;
}

.wrap{
    .header{
        .header-top{
            font-weight: bold;
            @media screen and (min-width:$break-mobile) {
                background: #fff;
                color: $color-primary;
            }
            @media screen and (min-width:$break-1024) {
                background: $color-primary;
                color: #fff;
            }
            .nav-left{
                display: none;
                background: $color-primary;
                color: #fff;
                z-index: 12;
                position: fixed;
                height: 100vh;
                width: 50%;
                top: 0;
                @media screen and (max-width : $break-1024){
                    display: block;
                    left: -100%;
                } 
                @media screen and (max-width : $break-500){
                    display: block;
                    position: fixed;
                    left: -100%;
                    width: 100%;
                }
                .logo_mobile{
                    padding: 15px 20px 25px 0px;
                }
                .nav-item{
                    padding: 5px;
                    .nav-link{
                        color: #fff;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-size: 18px;
                        @media screen and (max-width : $break-500){
                            font-size: 16px;
                        }
                    }
                }
            }
            .navigation{
                .nav{
                   
                    .nav-item{
                        padding: 5px;
                        .nav-link{
                            color: #fff !important;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-size: 18px;
                            @media screen and (max-width : $break-500){
                                font-size: 16px;
                            }
                            
                        }
                    }
                }
                @media screen and (max-width : $break-tablet){
                    display: block;
                    position: fixed;
                    right: -100%;
                    background: $color-primary;
                    color: #fff;
                    z-index: 12;
                    position: fixed;
                    height: 100vh;
                    width: 50%;
                    top: 0;
                    
                    .nav{
                        display: block;
                        .logo_mobile{
                            padding: 15px 20px 25px 0px;
                        }
                        .nav-item{
                            padding: 5px;
                            .nav-link{
                                color: #fff !important;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                font-size: 18px;
                                @media screen and (max-width : $break-500){
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
                @media screen and (max-width : $break-500){
                    display: block;
                    position: fixed;
                    width: 100%;
                }
                // .nav{
                //     display: block;
                //     .logo_mobile{
                //         padding: 15px 20px 25px 0px;
                //     }
                //     .nav-item{
                //         padding: 5px;
                //         .nav-link{
                //             color: #fff !important;
                //             display: flex;
                //             justify-content: space-between;
                //             align-items: center;
                //             font-size: 18px;
                //             @media screen and (max-width : $break-500){
                //                 font-size: 16px;
                //             }
                //         }
                //     }
                // }
            }
            .logo{
                @media screen and (max-width:$break-1024) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #000;

                    a{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 50%;
                        }
                    }
                }
                // width: 30%;
                
            }
        }
    }
    .header-main{
        padding: 15px;
        .header-main-box{
            display: flex;
            justify-content: center;
            align-items: center;
            .logo{
                // width: 30%;
            
            }
            .search{
                // width: 50%;
                padding-top: 20px;
                .tag{
                    p{
                        margin-bottom: 0;
                        font-size: 12px;
                        color: $color-content;
                    }
                }
                .form-search{
                    

                }
            }
            .location{
                // width: 70%;
                justify-content: center;
                align-items: center;
                display: flex;
                width: 75%;
                height: 100%;
                .title-location{
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    // padding: 25px;
                   
                    i{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 30px;
                        height: 30px;
                        border: 1px solid $color-primary;
                        border-radius: 100%;
                    }
                    p{
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

.wide-nav{
    background-color: $color-gray;
    .wide-box{
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .mega-menu{
            width: 25%;
            height: 50px;
            @media screen and (min-width : $break-1024) {
                display: flex !important;
                width: 30%;
            }
            @media screen and (min-width : $break-1200) {
                display: flex !important;
                width: 25%;
            }
            display: block;
            justify-content: center;
            align-items: center;
            background-color: $color-primary;
            .mega-menu-title{
                width: 100%;
                padding-left: 25px;
                p{  
                    color: #fff;
                    margin-bottom: 0;
                    font-weight: bold;
                }
            }
        }
        .slogan{
            @media screen and (min-width: $break-mobile) {
                width: 100%;
            }
            @media screen and (min-width : $break-1024) {
                display: flex !important;
                width: 70%;
            }
            @media screen and (min-width : $break-1200) {
                display: flex !important;
                width: 75%;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            
            .icon-left{
                width: 10%;
                text-align: center;
            }
            .slogan-title{
                width: 80%;
            }
            .icon-right{
                text-align: center;
                width: 10%;
                p{
                    text-align: center;
                    margin-bottom: 0;
                    font-weight: normal;
                    padding: 5px 10px;
                }
            }
        }
    }
}
.container-customer{
    width: 80%;
    margin: auto;
}
.policy{
    padding-top: 50px;
    .policy-box{
        ul{
            padding-left: 0;
            text-decoration: none;
            list-style: none;
            color: $color-primary;
            font-size: 22px;
            text-transform: uppercase;
            font-weight: bold;
            @media screen and (max-width : $break-1024) {
                font-size: 16px;
            }
            li{
                @media screen and (max-width : $break-1024) {
                    font-size: 13px;
                    padding: 5px 0;
                }
                font-size: 16px;
                color: $color-content;
                font-weight: normal;
                padding: 10px 0;
            }
        }
    }
}
.contact-footer{
    padding: 60px 0;
    background-color: $color-gray;
    @media screen and (max-width : $break-1024) {
        padding: 30px 0;
    }
    h4{
        @media screen and (max-width : $break-1024) {
            font-size: 18px;
        }
        color: $color-primary;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: bold;
    }
    p{
        span{
            font-weight: bold;
        }
        @media screen and (max-width : $break-1024) {
            font-size: 14px;
        }
        font-size: 16px;
        padding-top: 5px;
    }
}
.text-footer{
    height: 50px;
    @media screen and (max-width : $break-1024) {
        height: 70px;
    }
    @media screen and (max-width : $break-500) {
        height: 70;
        h5{
            font-size: 12px;
        }
    }
    background-color: $color-primary;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.owl-logo{
    position: relative;
    .owl-prev{
        &:focus{
            outline: none;
            box-shadow: none;
        }
        position: absolute;
        top: 50%;
        left: -20px;
        transform: translate(0, -50%);
        i{
            font-size: 40px;

        }
    }
    .owl-next{
        &:focus{
            outline: none;
            box-shadow: none;
        }
        position: absolute;
        top: 50%;
        right: -20px;
        transform: translate(0, -50%);
        i{
            font-size: 40px;
           

        }
        
    }
}
.d-lg-none{
    @media screen and (min-width : $break-1024) {
        display: block !important;
    }
    display: none !important;
}
.d-md-none{
    @media screen and (min-width : $break-1024) {
        display: none !important;
    }
    display: block !important;
}
.bg--main {
    background: black;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
}
.rwd-menu {background:$color-primary;position:relative;left:0;top:0;z-index:1}
//;transition:all 1s ease
.rwd-menu li:hover {background:$color-primary;}


.rwd-menu li a {
    padding:10px;
    font-weight:bold;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width : $break-tablet) {
        font-size: 16px;
    }
}
.rwd-submenu{
    list-style: none;
    padding: 0;
    a{
        padding:10px 25px !important;
        font-weight:bold;
        font-size: 18px;
        color: #fff;
        display: flex;
        justify-content: end !important;
        // align-items: center;
        font-size: 16px !important;
    }
}

/* hide submenu */
.rwd-submenu {position:absolute;left:100%;top:0;height: 100vh;background:$color-primary;width:100%;visibility:hidden;transition:all 1s ease;}
.open-submenu .rwd-submenu {left:0;top:0;z-index:2;visibility:visible;transition:all 1s ease;}
.container-default{
    width: 98%;
    float: right;
}
.container-left{
    width: 98%;
    float: left;
}
.title-web{
    font-size: 28px;
    font-weight: bold;
    @media screen and (min-width : $break-mobile) {
        font-size: 21px;
    }
    @media screen and (min-width : $break-tablet) {
        font-size: 24px;
    }
    @media screen and (min-width : $break-1024) {
        font-size: 28px;
    }
}
.page-item.active .page-link{
    background-color: $color-primary;
    border-color :$color-primary;
}
.page-link{
    color: $color-primary;
    &:hover{
        color: $color-primary;
    }
}
