@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap");
body {
  font-family: Roboto;
  margin: 0;
  background: #fff;
  overflow-x: hidden;
  color: #424141; }

.btn-default {
  background-color: #ee1a26;
  color: #fff; }

.border-radius {
  border-radius: 0; }

.wrap .header .header-top {
  font-weight: bold; }
  @media screen and (min-width: 320px) {
    .wrap .header .header-top {
      background: #fff;
      color: #ee1a26; } }
  @media screen and (min-width: 1024px) {
    .wrap .header .header-top {
      background: #ee1a26;
      color: #fff; } }
  .wrap .header .header-top .nav-left {
    display: none;
    background: #ee1a26;
    color: #fff;
    z-index: 12;
    position: fixed;
    height: 100vh;
    width: 50%;
    top: 0; }
    @media screen and (max-width: 1024px) {
      .wrap .header .header-top .nav-left {
        display: block;
        left: -100%; } }
    @media screen and (max-width: 500px) {
      .wrap .header .header-top .nav-left {
        display: block;
        position: fixed;
        left: -100%;
        width: 100%; } }
    .wrap .header .header-top .nav-left .logo_mobile {
      padding: 15px 20px 25px 0px; }
    .wrap .header .header-top .nav-left .nav-item {
      padding: 5px; }
      .wrap .header .header-top .nav-left .nav-item .nav-link {
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px; }
        @media screen and (max-width: 500px) {
          .wrap .header .header-top .nav-left .nav-item .nav-link {
            font-size: 16px; } }
  .wrap .header .header-top .navigation .nav .nav-item {
    padding: 5px; }
    .wrap .header .header-top .navigation .nav .nav-item .nav-link {
      color: #fff !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px; }
      @media screen and (max-width: 500px) {
        .wrap .header .header-top .navigation .nav .nav-item .nav-link {
          font-size: 16px; } }
  @media screen and (max-width: 768px) {
    .wrap .header .header-top .navigation {
      display: block;
      position: fixed;
      right: -100%;
      background: #ee1a26;
      color: #fff;
      z-index: 12;
      position: fixed;
      height: 100vh;
      width: 50%;
      top: 0; }
      .wrap .header .header-top .navigation .nav {
        display: block; }
        .wrap .header .header-top .navigation .nav .logo_mobile {
          padding: 15px 20px 25px 0px; }
        .wrap .header .header-top .navigation .nav .nav-item {
          padding: 5px; }
          .wrap .header .header-top .navigation .nav .nav-item .nav-link {
            color: #fff !important;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px; } }
        @media screen and (max-width: 768px) and (max-width: 500px) {
          .wrap .header .header-top .navigation .nav .nav-item .nav-link {
            font-size: 16px; } }

  @media screen and (max-width: 500px) {
    .wrap .header .header-top .navigation {
      display: block;
      position: fixed;
      width: 100%; } }
  @media screen and (max-width: 1024px) {
    .wrap .header .header-top .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000; }
      .wrap .header .header-top .logo a {
        display: flex;
        justify-content: center;
        align-items: center; }
        .wrap .header .header-top .logo a img {
          width: 50%; } }
.wrap .header-main {
  padding: 15px; }
  .wrap .header-main .header-main-box {
    display: flex;
    justify-content: center;
    align-items: center; }
    .wrap .header-main .header-main-box .search {
      padding-top: 20px; }
      .wrap .header-main .header-main-box .search .tag p {
        margin-bottom: 0;
        font-size: 12px;
        color: #424141; }
    .wrap .header-main .header-main-box .location {
      justify-content: center;
      align-items: center;
      display: flex;
      width: 75%;
      height: 100%; }
      .wrap .header-main .header-main-box .location .title-location {
        justify-content: center;
        align-items: center;
        display: flex; }
        .wrap .header-main .header-main-box .location .title-location i {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border: 1px solid #ee1a26;
          border-radius: 100%; }
        .wrap .header-main .header-main-box .location .title-location p {
          margin-bottom: 0; }

.wide-nav {
  background-color: #ededed; }
  .wide-nav .wide-box {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .wide-nav .wide-box .mega-menu {
      width: 25%;
      height: 50px;
      display: block;
      justify-content: center;
      align-items: center;
      background-color: #ee1a26; }
      @media screen and (min-width: 1024px) {
        .wide-nav .wide-box .mega-menu {
          display: flex !important;
          width: 30%; } }
      @media screen and (min-width: 1200px) {
        .wide-nav .wide-box .mega-menu {
          display: flex !important;
          width: 25%; } }
      .wide-nav .wide-box .mega-menu .mega-menu-title {
        width: 100%;
        padding-left: 25px; }
        .wide-nav .wide-box .mega-menu .mega-menu-title p {
          color: #fff;
          margin-bottom: 0;
          font-weight: bold; }
    .wide-nav .wide-box .slogan {
      display: flex;
      justify-content: center;
      align-items: center; }
      @media screen and (min-width: 320px) {
        .wide-nav .wide-box .slogan {
          width: 100%; } }
      @media screen and (min-width: 1024px) {
        .wide-nav .wide-box .slogan {
          display: flex !important;
          width: 70%; } }
      @media screen and (min-width: 1200px) {
        .wide-nav .wide-box .slogan {
          display: flex !important;
          width: 75%; } }
      .wide-nav .wide-box .slogan .icon-left {
        width: 10%;
        text-align: center; }
      .wide-nav .wide-box .slogan .slogan-title {
        width: 80%; }
      .wide-nav .wide-box .slogan .icon-right {
        text-align: center;
        width: 10%; }
        .wide-nav .wide-box .slogan .icon-right p {
          text-align: center;
          margin-bottom: 0;
          font-weight: normal;
          padding: 5px 10px; }

.container-customer {
  width: 80%;
  margin: auto; }

.policy {
  padding-top: 50px; }
  .policy .policy-box ul {
    padding-left: 0;
    text-decoration: none;
    list-style: none;
    color: #ee1a26;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold; }
    @media screen and (max-width: 1024px) {
      .policy .policy-box ul {
        font-size: 16px; } }
    .policy .policy-box ul li {
      font-size: 16px;
      color: #424141;
      font-weight: normal;
      padding: 10px 0; }
      @media screen and (max-width: 1024px) {
        .policy .policy-box ul li {
          font-size: 13px;
          padding: 5px 0; } }

.contact-footer {
  padding: 60px 0;
  background-color: #ededed; }
  @media screen and (max-width: 1024px) {
    .contact-footer {
      padding: 30px 0; } }
  .contact-footer h4 {
    color: #ee1a26;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold; }
    @media screen and (max-width: 1024px) {
      .contact-footer h4 {
        font-size: 18px; } }
  .contact-footer p {
    font-size: 16px;
    padding-top: 5px; }
    .contact-footer p span {
      font-weight: bold; }
    @media screen and (max-width: 1024px) {
      .contact-footer p {
        font-size: 14px; } }

.text-footer {
  height: 50px;
  background-color: #ee1a26;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 1024px) {
    .text-footer {
      height: 70px; } }
  @media screen and (max-width: 500px) {
    .text-footer {
      height: 70; }
      .text-footer h5 {
        font-size: 12px; } }

.owl-logo {
  position: relative; }
  .owl-logo .owl-prev {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(0, -50%); }
    .owl-logo .owl-prev:focus {
      outline: none;
      box-shadow: none; }
    .owl-logo .owl-prev i {
      font-size: 40px; }
  .owl-logo .owl-next {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(0, -50%); }
    .owl-logo .owl-next:focus {
      outline: none;
      box-shadow: none; }
    .owl-logo .owl-next i {
      font-size: 40px; }

.d-lg-none {
  display: none !important; }
  @media screen and (min-width: 1024px) {
    .d-lg-none {
      display: block !important; } }

.d-md-none {
  display: block !important; }
  @media screen and (min-width: 1024px) {
    .d-md-none {
      display: none !important; } }

.bg--main {
  background: black;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11; }

.rwd-menu {
  background: #ee1a26;
  position: relative;
  left: 0;
  top: 0;
  z-index: 1; }

.rwd-menu li:hover {
  background: #ee1a26; }

.rwd-menu li a {
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .rwd-menu li a {
      font-size: 16px; } }

.rwd-submenu {
  list-style: none;
  padding: 0; }
  .rwd-submenu a {
    padding: 10px 25px !important;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: end !important;
    font-size: 16px !important; }

/* hide submenu */
.rwd-submenu {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100vh;
  background: #ee1a26;
  width: 100%;
  visibility: hidden;
  transition: all 1s ease; }

.open-submenu .rwd-submenu {
  left: 0;
  top: 0;
  z-index: 2;
  visibility: visible;
  transition: all 1s ease; }

.container-default {
  width: 98%;
  float: right; }

.container-left {
  width: 98%;
  float: left; }

.title-web {
  font-size: 28px;
  font-weight: bold; }
  @media screen and (min-width: 320px) {
    .title-web {
      font-size: 21px; } }
  @media screen and (min-width: 768px) {
    .title-web {
      font-size: 24px; } }
  @media screen and (min-width: 1024px) {
    .title-web {
      font-size: 28px; } }

.page-item.active .page-link {
  background-color: #ee1a26;
  border-color: #ee1a26; }

.page-link {
  color: #ee1a26; }
  .page-link:hover {
    color: #ee1a26; }

/*# sourceMappingURL=common.css.map */
