@import 'common';

.slider{
    .customer-slider{
        @media screen and (min-width : $break-mobile) {
            width: 100%;
        }
        @media screen and (min-width : $break-1024) {
            width: 80%;
        }
    }
    .slider-content{
        display: flex;
        .nav-menu{
            @media screen and (min-width : $break-1024) {
                width: 30%;
                display: block !important;
            }
            @media screen and (min-width : $break-1200) {
                width: 25%;
                display: block !important;
            }
            .nav{
                height: 40px;
                // background-color: $color-gray;
                .nav-item{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    // padding-left: 5px;
                    width: 100%;
                    .nav-cate{
                        background: $color-gray;
                        width: 100%;
                        color: $color-content;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border: 0.5px solid #ddd;
                        &:hover{
                            background: #f0f0f0;
                            color: #000;
                            i{
                                color:#fff ;
                            }
                        }
                    }
                }
            }
        }
        .slider-image{
            @media screen and (min-width : $break-mobile) {
                width: 100%;
            }
            @media screen and (min-width : $break-1024) {
                width: 70%;
            }
            @media screen and (min-width : $break-1200) {
                width: 75%;
            }
            .carousel-inner{
                
                .carousel-item{
                    @media screen and (min-width : $break-mobile) {
                        height: 250px;
                    }
                    @media screen and (min-width : $break-1024) {
                        height: 500px;
                    }
                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
.content-support{
    .support-box{
        background-color: $color-primary;
        width: 100%;
        .support-item{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
            .image{
                img{
                    width: 80%;
                }
            }
            .content{
                p{
                    font-size: 16px;
                    color: #fff;
                    line-height: 28px;
                    font-weight: normal;
                    margin-bottom: 0;
                }
                h3{
                    font-size: 21px;
                    font-weight: bold;
                    line-height: 32px;
                    color: #fff;
                }
            }
        }
    }
}
.slg-title{
    h2{
        @media screen and (max-width:$break-1024) {
            padding: 30px 0;
        }
        padding: 30px;
        text-align: center;
        font-size: 26px;
        font-weight: bold;
    }
}
.new-product{
    .product-tab{
        .nav-tabs{
            justify-content: center;
            align-items: center;
            margin: auto;
            .nav-item{
                width: 20%;
                @media screen and (max-width:$break-1024) {
                    width: 50%;
                }
                // background-color: $color-gray;
                text-align: center;
                border: 0;
                a{
                    font-size: 20px;
                    @media screen and (max-width:$break-1024) {
                        font-size: 16px;
                    }
                    // text-transform: uppercase;
                    color: #000;
                    // font-weight: bold;
                }
                .active{
                    border: 0;
                    // background-color: $color-primary;
                    color: $color-primary;
                }
            }
            
        }
        .tab-content{
            .owl-carousel{
                .item{
                    .product{
                        .image{
                            width: 165px;
                            height: 165px;
                            margin: auto;
                            a{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                height: 100%;
                            }
                        }
                        .title-product{
                            text-align: left;
                            a{
                                // height: 40px;
                                color: $color-content;
                                text-decoration: none;
                                width: 180px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                line-height: 20px;
                                -webkit-line-clamp: 2;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                @media screen and (max-width: $break-tablet) {
                                    width: 100%;
                                }
                            }
                            p{
                                color: $color-primary;
                                font-weight: bold;
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.list-product{
    padding-top: 20px;
    .product-box{
        .list-category{
            display: flex;
            width: 100%;
            height: 50px;
            border: 1px solid $color-gray;
            .item-category{
                @media screen and (max-width : $break-1024) {
                    width: 100%;
                }
                width: 25%;
                height: 100%;
                background-color: $color-primary;
                display: flex;
                align-items: center;
                padding-left: 25px;
                a{
                    color: #fff;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
            .list-sub-cate{
                width: 75%;
                @media screen and (max-width : $break-1200) {
                    display: none !important;
                }
                .nav-category{
                    outline: none;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    height: 100%;
                    .nav-item{
                        .nav-link{
                            // border-right: 2px solid $color-content ;
                        }
                    }
                }
            }
        }
        .product-detail{
            display: flex;
            .banner-product{
                height: 484px;
                width: 25%;
                @media screen and (max-width : 1100px) {
                   display: none !important;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .product{
                @media screen and (max-width : $break-1024) {
                    width: 100%;
                }
                width: 75%;
                flex-wrap: wrap;
                display: flex;
                .item{
                    @media screen and (min-width : $break-mobile) {
                        width: 100%;
                    }
                    @media screen and (min-width : $break-tablet) {
                        width: 50%;
                    }
                    @media screen and (min-width : $break-1024) {
                        width: 33.333%;
                    }
                    @media screen and (min-width : $break-1200) {
                        width: 25%;
                        max-height: 50%;
                    }
                    .image{
                        width: 170px;
                        height: 118px;
                        margin: auto;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid $color-gray;
                    .title-product{
                        padding-top: 10px;
                        color: #000;
                        font-size: 16px;
                        margin: auto;
                        a{
                            color: #000;
                            text-decoration: none;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            line-height: 20px;
                            -webkit-line-clamp: 2;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            &:hover{
                                color: $color-primary;
                            }
                        }
                        p{
                            color: $color-primary;
                        }
                    }
                }
            }
        }
        .list-categories{
            display: flex;

            .item-category{
                width: 25%;
                @media screen and (min-width: $break-mobile) {
                    display: none;
                }
                @media screen and (min-width: $break-1024) {
                    display: block;
                }
                .list-product-new{
                    padding: 0;
                    .product-detail{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        padding: 5px 0;
                        border-bottom: 1px solid $color-gray;
                        .image{
                            width: 20%;
                            height: 60px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                            
                        }
                        .blog-des{
                            width: 75%;
                            a{
                                font-size: 14px;
                                color: $color-content;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                line-height: 20px;
                                -webkit-line-clamp: 2;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                &:hover{
                                    color: $color-primary;
                                }
                            }
                            p{
                                font-size: 12px;
                                color: $color-primary;
                            }
                        }

                    }
                }
                .list-blogs{
                    padding: 0;
                    .blog-detail{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        width: 100%;
                        padding: 5px 0;
                        border-bottom: 1px solid $color-gray;
                        .image{
                            width: 20%;
                            height: 30px;
                            img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                            
                        }
                        .blog-des{
                            width: 75%;
                            a{
                                font-size: 14px;
                                color: $color-content;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                line-height: 20px;
                                -webkit-line-clamp: 2;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                &:hover{
                                    color: $color-primary;
                                }
                            }
                        }

                    }
                }
                .category{
                    width: 100%;
                    height: 44px;
                    background-color: #fff;
                    border-radius: 8px 8px 0px 0 ;
                    border: 1px solid $color-primary ;
                    a{
                        font-weight: bold;
                        color: $color-primary;
                        padding-left: 25px;
                        font-size: 16px;
                        display: flex;
                        align-items: center;
                        height: 100%;
                        text-decoration: none;
                    }
                }
                .filter-brands{
                    .form-check{
                        padding: 6px 30px;
                    }
                }
                .list-group{
                    background: #fff;

                    .sub_menu{
                        margin-left: 15px;
                        padding-left: 10px;
                        border-left: 1px solid $color-gray;
                        a{
                            font-size: 14px ;
                            border-bottom: 1px solid $color-gray;
                        }
                        .list-group-item{
                            border: none;
                            padding: 5px 0;
                            background: transparent;
                            border-bottom: 1px solid $color-gray;
                            &:hover{
                                color: $color-primary !important;
                            }   
                        }  
                        .active{
                            color: $color-primary;
                        }
                    }
                    .category-item{
                        padding: 5px 0;
                        border-bottom: 1px solid $color-gray !important;
                    }
                    .list-group-items{
                        padding: 8px;
                        border-top: none;
                        border-right: none;
                        border-left: none;
                        border-bottom: 1px solid $color-gray !important;
                        &:hover{
                            color: $color-primary !important;
                        }   
                        .text-dark{
                            &:hover{
                                color: $color-primary;
                            }
                        } 
                                          
                    }
                    .list-group-items[aria-expanded="false"] .submenu-icon::after {
                        content: " \f105";
                        font-family: FontAwesome;
                        display: inline;
                        text-align: right;
                        padding-left: 10px;
                      }
                    .list-group-items[aria-expanded="true"] .submenu-icon::after {
                        content: " \f107";
                        font-family: FontAwesome;
                        display: inline;
                        text-align: right;
                        padding-left: 10px;
                      }
                }
            }
            .list-sub-cate{
                @media screen and (min-width: $break-mobile) {
                    width: 100%;
                }
                @media screen and (min-width: $break-1024) {
                    width: 75%;
                }
                .detail-news{
                    padding: 5px 15px;
                    box-shadow: 0 3px 6px -4px , 0 4px 6px ;
                    .dt-news__body{
                        .dt-news__sapo{
                            .name-news{
                                font-weight: bold;
                                text-transform: uppercase;
                                color: $color-primary;
                            }
                            h2{
                                font-size: 24px;
                            }
                        }
                    }
                }
                .news-item{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 1px solid $color-gray;
                    box-shadow: 0 3px 6px -4px;
                    position: relative;
                    &:hover{
                        .calendar{
                            background: $color-primary;
                            color: #fff;
                        }
                    }
                    .image{
                        @media screen and (max-width : $break-500) {
                            display: none;
                        }
                        width: 40%;
                        height: 215px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .news-detail{
                        @media screen and (max-width : $break-500) {
                            width: 100%;
                            padding-left: 50px;
                            height: 140px;
                        }
                        width: 56%;
                        a{
                            font-weight: bold;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            line-height: 36px;
                            -webkit-line-clamp: 2;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            color: #000;
                            font-size: 22px;
                            text-decoration: none;
                            margin-bottom: 10px;
                            &:hover{
                                color: $color-primary;
                            }
                        }
                        p{
                            overflow: hidden;
                            text-overflow: ellipsis;
                            line-height: 20px;
                            -webkit-line-clamp: 2;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                        }
                    }
                    .calendar{
                        position: absolute;
                        width: 40px;
                        height: 40px;
                        top: 10px;
                        left: -10px;
                        border: 2px solid $color-primary;
                        background: #fff;
                        color: $color-primary;
                        font-weight: bold;
                        text-align: center;
                        line-height: 1.25;
                        span{
                            margin-bottom: 0;
                            font-size: 14px;
                        }
                        p{
                            margin-bottom: 0;
                            font-size: 12px;
                        }
                    }
                }
                // margin: auto;
                
            }
        }
        
    }
}
.slogan-primary{
    padding: 40px 0;
    .slogan-box{
        width: 100%;
        h3{
            font-weight: bold;
            
            text-align: center;
            color: $color-primary;
            @media screen and (min-width : $break-mobile) {
                font-size: 18px;
            }
            @media screen and (min-width : $break-1024) {
                font-size: 22px;
            }
            @media screen and (min-width : $break-1024) {
                font-size: 24px;
            }
        }
    }
}
.company{
    .owl-logo{
        .owl-item{
            width: auto !important;
            &:active{
                width: auto !important;
            }
        }
        .item{
            width: auto;
            height: 82px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                max-height: 100%;
                width: auto;
            }
        }
    }
}
.dropdown-menu > li.kopie > a {
    padding-left:5px;
}
 
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    width: 300px;
    padding: 0;
   top:0;
   left:100%;
   margin-top:-6px;
   margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;
   -moz-border-radius:0 6px 6px 6px;
   border-radius:0 6px 6px 6px;
 }
  
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: none;
}  
  
@media (max-width: 767px) {

  .navbar-nav  {
     display: inline;
  }
  .navbar-default .navbar-brand {
    display: inline;
  }
  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
  }
  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px;   
  }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a {
     color: #333;
   }
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
   .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
     background-color: #ccc;
   }

   .navbar-nav .open .dropdown-menu {
     border-bottom: 1px solid white; 
     border-radius: 0;
   }
  .dropdown-menu {
      padding-left: 10px;
  }
  .dropdown-menu .dropdown-menu {
      padding-left: 20px;
   }
   .dropdown-menu .dropdown-menu .dropdown-menu {
      padding-left: 30px;
   }
   li.dropdown.open {
    border: 0px solid red;
   }

}
 
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block;
  }
  #navbar {
    text-align: center;
  }
}  
.breacum{
    .breacum-box{
        .page-title{
            @media screen and (min-width : $break-mobile) {
                font-size: 22px;
            }
            @media screen and (min-width : $break-mobile) {
                font-size: 28px;
            }
            font-size: 28px;
            margin-bottom: 0;
            padding-top: 5px;
        }
        .breadcrumb{
            font-size: 13px;
            background: #fff;
            padding: 0;
            a{
                color: $color-primary;
            }
        }
    }
    .result{
        display: flex;
        justify-content: center;
        align-items: center;
        h3{
            width: 50%;
            text-align: right;
            margin-right: 10px;
            margin-bottom: 0;
            @media screen and (min-width : $break-mobile) {
                display: none;
            }
            @media screen and (min-width : $break-tablet) {
                display: block;
                font-size: 14px;
            }
            @media screen and (min-width : $break-1200) {
                font-size: 16px;
            }
        }
        select{
            @media screen and (min-width : $break-mobile) {
                width: 100% !important;
            }
            @media screen and (min-width : $break-tablet) {
                width: 50% !important;
            }
            width: 50% !important;
        }
    }
}
.product{
    @media screen and (max-width : $break-1024) {
        width: 100%;
    }
    width: 75%;
    flex-wrap: wrap;
    display: flex;
    .item{
        @media screen and (min-width : $break-mobile) {
            width: 100%;
        }
        @media screen and (min-width : $break-tablet) {
            width: 50%;
        }
        @media screen and (min-width : $break-1024) {
            width: 33.333%;
        }
        @media screen and (min-width : $break-1200) {
            width: 25%;
        }
        .image{
            width: 170px;
            height: 118px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $color-gray;
        .title-product{
            padding: 5px;
            color: #000;
            font-size: 16px;
            margin: auto;
            a{
                color: #000;
                text-decoration: none;
                overflow: hidden;
                text-overflow: ellipsis;
                line-height: 20px;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                &:hover{
                    color: $color-primary;
                }
            }
            p{
                color: $color-primary;
            }
        }
    }
}
.contact{
    .contact-detail{
        h1{
            font-size: 26px;
            color: $color-primary;
            font-weight: bold;
        }
    }
    .form-contact{
        h2{
            font-size: 24px;
            color: $color-content;
            font-weight: bold;
        }
    }
}
.detai--product{
    width: 100%;
    .slider-product{
        #vertical{
            // @media screen and (max-width : $break-tablet) {
                height: auto !important;
            // }
        }
        .lSGallery{
            margin: auto !important;
            .active{
                border: 1px solid $color-primary;
            }
            
        }
        .lSSlideWrapper{
            @media screen and (max-width : $break-tablet) {
                height: 280px;
            }
        }
        .lSSlide{
            .lslide{
                width: 380px;
                height: 380px;
                @media screen and (max-width : $break-tablet) {
                    height: auto !important;
                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        
    }
    .infomation_product{
        border-bottom: 1px solid $color-gray;
        .infomation{
            display: flex;
            justify-content: center;
            
            padding: 0 5px;
            @media screen and (max-width : $break-tablet) {
                display: block;
            }
            // align-items: center;
            .title{
                border-right: 1px solid $color-gray;
                width: 65%;
                padding: 20px;
                @media screen and (max-width : $break-tablet) {
                    width: 100%;
                    border-right: none ;
                    padding: 20px 0;
                }
                h1{
                    font-size: 32px;
                    font-weight: bold;
                    margin-bottom: 0;
                }
            }
            .advisory{
                @media screen and (max-width : $break-tablet) {
                    width: 100%;
                }
                width: 35%;
                display: flex;
                justify-content: center;
                align-items: center;
                .box-image{
                    width: 60px;
                    height: 60px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .box-text{
                    font-weight: bold;
                    p{
                        margin-bottom: 0;
                    }
                    span{
                        color: $color-primary;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    .parameter{
        table{
            tr{
                td{
                    padding: 15px;
                }
                border-bottom: 1px solid $color-gray ;
            }
        }
        .btn-order{
            width: 100%;
            height: 40px;
            background-color: $color-primary;
            color: #fff;
            font-size: 18px;
            font-weight: bold;
            @media screen and (max-width : $break-tablet) {
                margin: 20px 0;
            }
        }
        .chinhsach{
            i{
                color: #0066b4;
            }
        }
    }
}
.featured-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .icon-box-img{
        width: 15%;
        @media screen and (max-width : $break-tablet) {
            width: 25%;
        }
        @media screen and (max-width : $break-tablet) {
            display: none;
        }
    }
    .last-reset{
        width: 86%;
        @media screen and (max-width : $break-tablet) {
            width: 100%;
        }
    }
}
#advisory{
    .form-group{
        margin-bottom: 0;
    }
}
#myTab1{
    border: 1px solid #dee2e6;
    .nav-item{
        width: 150px;
        @media screen and (max-width : $break-tablet) {
            width: 50%;
        }
        text-align: center;
        .nav-link{
            border: 1px solid #dee2e6;
            border-radius: 0;
            color: $color-content;
            // border-color: #dee2e6 #dee2e6 #fff;
            // border-bottom: #dee2e6 #dee2e6 #fff;
        }
        .active{
            border-bottom: 1px solid #fff;
            color: $color-primary;
        }
        
    }
    
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.titlt-web{
    font-size: 36px;
    text-align: center;
}
.btn--bottom{
    color: $color-content;
    text-decoration: none !important;
    &:hover{
        color: $color-primary;
    }
}