@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap");
body {
  font-family: Roboto;
  margin: 0;
  background: #fff;
  overflow-x: hidden;
  color: #424141; }

.btn-default {
  background-color: #ee1a26;
  color: #fff; }

.border-radius {
  border-radius: 0; }

.wrap .header .header-top {
  font-weight: bold; }
  @media screen and (min-width: 320px) {
    .wrap .header .header-top {
      background: #fff;
      color: #ee1a26; } }
  @media screen and (min-width: 1024px) {
    .wrap .header .header-top {
      background: #ee1a26;
      color: #fff; } }
  .wrap .header .header-top .nav-left {
    display: none;
    background: #ee1a26;
    color: #fff;
    z-index: 12;
    position: fixed;
    height: 100vh;
    width: 50%;
    top: 0; }
    @media screen and (max-width: 1024px) {
      .wrap .header .header-top .nav-left {
        display: block;
        left: -100%; } }
    @media screen and (max-width: 500px) {
      .wrap .header .header-top .nav-left {
        display: block;
        position: fixed;
        left: -100%;
        width: 100%; } }
    .wrap .header .header-top .nav-left .logo_mobile {
      padding: 15px 20px 25px 0px; }
    .wrap .header .header-top .nav-left .nav-item {
      padding: 5px; }
      .wrap .header .header-top .nav-left .nav-item .nav-link {
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px; }
        @media screen and (max-width: 500px) {
          .wrap .header .header-top .nav-left .nav-item .nav-link {
            font-size: 16px; } }
  .wrap .header .header-top .navigation .nav .nav-item {
    padding: 5px; }
    .wrap .header .header-top .navigation .nav .nav-item .nav-link {
      color: #fff !important;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px; }
      @media screen and (max-width: 500px) {
        .wrap .header .header-top .navigation .nav .nav-item .nav-link {
          font-size: 16px; } }
  @media screen and (max-width: 768px) {
    .wrap .header .header-top .navigation {
      display: block;
      position: fixed;
      right: -100%;
      background: #ee1a26;
      color: #fff;
      z-index: 12;
      position: fixed;
      height: 100vh;
      width: 50%;
      top: 0; }
      .wrap .header .header-top .navigation .nav {
        display: block; }
        .wrap .header .header-top .navigation .nav .logo_mobile {
          padding: 15px 20px 25px 0px; }
        .wrap .header .header-top .navigation .nav .nav-item {
          padding: 5px; }
          .wrap .header .header-top .navigation .nav .nav-item .nav-link {
            color: #fff !important;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 18px; } }
        @media screen and (max-width: 768px) and (max-width: 500px) {
          .wrap .header .header-top .navigation .nav .nav-item .nav-link {
            font-size: 16px; } }

  @media screen and (max-width: 500px) {
    .wrap .header .header-top .navigation {
      display: block;
      position: fixed;
      width: 100%; } }
  @media screen and (max-width: 1024px) {
    .wrap .header .header-top .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000; }
      .wrap .header .header-top .logo a {
        display: flex;
        justify-content: center;
        align-items: center; }
        .wrap .header .header-top .logo a img {
          width: 50%; } }
.wrap .header-main {
  padding: 15px; }
  .wrap .header-main .header-main-box {
    display: flex;
    justify-content: center;
    align-items: center; }
    .wrap .header-main .header-main-box .search {
      padding-top: 20px; }
      .wrap .header-main .header-main-box .search .tag p {
        margin-bottom: 0;
        font-size: 12px;
        color: #424141; }
    .wrap .header-main .header-main-box .location {
      justify-content: center;
      align-items: center;
      display: flex;
      width: 75%;
      height: 100%; }
      .wrap .header-main .header-main-box .location .title-location {
        justify-content: center;
        align-items: center;
        display: flex; }
        .wrap .header-main .header-main-box .location .title-location i {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          border: 1px solid #ee1a26;
          border-radius: 100%; }
        .wrap .header-main .header-main-box .location .title-location p {
          margin-bottom: 0; }

.wide-nav {
  background-color: #ededed; }
  .wide-nav .wide-box {
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .wide-nav .wide-box .mega-menu {
      width: 25%;
      height: 50px;
      display: block;
      justify-content: center;
      align-items: center;
      background-color: #ee1a26; }
      @media screen and (min-width: 1024px) {
        .wide-nav .wide-box .mega-menu {
          display: flex !important;
          width: 30%; } }
      @media screen and (min-width: 1200px) {
        .wide-nav .wide-box .mega-menu {
          display: flex !important;
          width: 25%; } }
      .wide-nav .wide-box .mega-menu .mega-menu-title {
        width: 100%;
        padding-left: 25px; }
        .wide-nav .wide-box .mega-menu .mega-menu-title p {
          color: #fff;
          margin-bottom: 0;
          font-weight: bold; }
    .wide-nav .wide-box .slogan {
      display: flex;
      justify-content: center;
      align-items: center; }
      @media screen and (min-width: 320px) {
        .wide-nav .wide-box .slogan {
          width: 100%; } }
      @media screen and (min-width: 1024px) {
        .wide-nav .wide-box .slogan {
          display: flex !important;
          width: 70%; } }
      @media screen and (min-width: 1200px) {
        .wide-nav .wide-box .slogan {
          display: flex !important;
          width: 75%; } }
      .wide-nav .wide-box .slogan .icon-left {
        width: 10%;
        text-align: center; }
      .wide-nav .wide-box .slogan .slogan-title {
        width: 80%; }
      .wide-nav .wide-box .slogan .icon-right {
        text-align: center;
        width: 10%; }
        .wide-nav .wide-box .slogan .icon-right p {
          text-align: center;
          margin-bottom: 0;
          font-weight: normal;
          padding: 5px 10px; }

.container-customer {
  width: 80%;
  margin: auto; }

.policy {
  padding-top: 50px; }
  .policy .policy-box ul {
    padding-left: 0;
    text-decoration: none;
    list-style: none;
    color: #ee1a26;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold; }
    @media screen and (max-width: 1024px) {
      .policy .policy-box ul {
        font-size: 16px; } }
    .policy .policy-box ul li {
      font-size: 16px;
      color: #424141;
      font-weight: normal;
      padding: 10px 0; }
      @media screen and (max-width: 1024px) {
        .policy .policy-box ul li {
          font-size: 13px;
          padding: 5px 0; } }

.contact-footer {
  padding: 60px 0;
  background-color: #ededed; }
  @media screen and (max-width: 1024px) {
    .contact-footer {
      padding: 30px 0; } }
  .contact-footer h4 {
    color: #ee1a26;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold; }
    @media screen and (max-width: 1024px) {
      .contact-footer h4 {
        font-size: 18px; } }
  .contact-footer p {
    font-size: 16px;
    padding-top: 5px; }
    .contact-footer p span {
      font-weight: bold; }
    @media screen and (max-width: 1024px) {
      .contact-footer p {
        font-size: 14px; } }

.text-footer {
  height: 50px;
  background-color: #ee1a26;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 1024px) {
    .text-footer {
      height: 70px; } }
  @media screen and (max-width: 500px) {
    .text-footer {
      height: 70; }
      .text-footer h5 {
        font-size: 12px; } }

.owl-logo {
  position: relative; }
  .owl-logo .owl-prev {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translate(0, -50%); }
    .owl-logo .owl-prev:focus {
      outline: none;
      box-shadow: none; }
    .owl-logo .owl-prev i {
      font-size: 40px; }
  .owl-logo .owl-next {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translate(0, -50%); }
    .owl-logo .owl-next:focus {
      outline: none;
      box-shadow: none; }
    .owl-logo .owl-next i {
      font-size: 40px; }

.d-lg-none {
  display: none !important; }
  @media screen and (min-width: 1024px) {
    .d-lg-none {
      display: block !important; } }

.d-md-none {
  display: block !important; }
  @media screen and (min-width: 1024px) {
    .d-md-none {
      display: none !important; } }

.bg--main {
  background: black;
  opacity: 0.4;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11; }

.rwd-menu {
  background: #ee1a26;
  position: relative;
  left: 0;
  top: 0;
  z-index: 1; }

.rwd-menu li:hover {
  background: #ee1a26; }

.rwd-menu li a {
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .rwd-menu li a {
      font-size: 16px; } }

.rwd-submenu {
  list-style: none;
  padding: 0; }
  .rwd-submenu a {
    padding: 10px 25px !important;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: end !important;
    font-size: 16px !important; }

/* hide submenu */
.rwd-submenu {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100vh;
  background: #ee1a26;
  width: 100%;
  visibility: hidden;
  transition: all 1s ease; }

.open-submenu .rwd-submenu {
  left: 0;
  top: 0;
  z-index: 2;
  visibility: visible;
  transition: all 1s ease; }

.container-default {
  width: 98%;
  float: right; }

.container-left {
  width: 98%;
  float: left; }

.title-web {
  font-size: 28px;
  font-weight: bold; }
  @media screen and (min-width: 320px) {
    .title-web {
      font-size: 21px; } }
  @media screen and (min-width: 768px) {
    .title-web {
      font-size: 24px; } }
  @media screen and (min-width: 1024px) {
    .title-web {
      font-size: 28px; } }

.page-item.active .page-link {
  background-color: #ee1a26;
  border-color: #ee1a26; }

.page-link {
  color: #ee1a26; }
  .page-link:hover {
    color: #ee1a26; }

@media screen and (min-width: 320px) {
  .slider .customer-slider {
    width: 100%; } }
@media screen and (min-width: 1024px) {
  .slider .customer-slider {
    width: 80%; } }
.slider .slider-content {
  display: flex; }
  @media screen and (min-width: 1024px) {
    .slider .slider-content .nav-menu {
      width: 30%;
      display: block !important; } }
  @media screen and (min-width: 1200px) {
    .slider .slider-content .nav-menu {
      width: 25%;
      display: block !important; } }
  .slider .slider-content .nav-menu .nav {
    height: 40px; }
    .slider .slider-content .nav-menu .nav .nav-item {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%; }
      .slider .slider-content .nav-menu .nav .nav-item .nav-cate {
        background: #ededed;
        width: 100%;
        color: #424141;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 0.5px solid #ddd; }
        .slider .slider-content .nav-menu .nav .nav-item .nav-cate:hover {
          background: #f0f0f0;
          color: #000; }
          .slider .slider-content .nav-menu .nav .nav-item .nav-cate:hover i {
            color: #fff; }
  @media screen and (min-width: 320px) {
    .slider .slider-content .slider-image {
      width: 100%; } }
  @media screen and (min-width: 1024px) {
    .slider .slider-content .slider-image {
      width: 70%; } }
  @media screen and (min-width: 1200px) {
    .slider .slider-content .slider-image {
      width: 75%; } }
  @media screen and (min-width: 320px) {
    .slider .slider-content .slider-image .carousel-inner .carousel-item {
      height: 250px; } }
  @media screen and (min-width: 1024px) {
    .slider .slider-content .slider-image .carousel-inner .carousel-item {
      height: 500px; } }
  .slider .slider-content .slider-image .carousel-inner .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.content-support .support-box {
  background-color: #ee1a26;
  width: 100%; }
  .content-support .support-box .support-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0; }
    .content-support .support-box .support-item .image img {
      width: 80%; }
    .content-support .support-box .support-item .content p {
      font-size: 16px;
      color: #fff;
      line-height: 28px;
      font-weight: normal;
      margin-bottom: 0; }
    .content-support .support-box .support-item .content h3 {
      font-size: 21px;
      font-weight: bold;
      line-height: 32px;
      color: #fff; }

.slg-title h2 {
  padding: 30px;
  text-align: center;
  font-size: 26px;
  font-weight: bold; }
  @media screen and (max-width: 1024px) {
    .slg-title h2 {
      padding: 30px 0; } }

.new-product .product-tab .nav-tabs {
  justify-content: center;
  align-items: center;
  margin: auto; }
  .new-product .product-tab .nav-tabs .nav-item {
    width: 20%;
    text-align: center;
    border: 0; }
    @media screen and (max-width: 1024px) {
      .new-product .product-tab .nav-tabs .nav-item {
        width: 50%; } }
    .new-product .product-tab .nav-tabs .nav-item a {
      font-size: 20px;
      color: #000; }
      @media screen and (max-width: 1024px) {
        .new-product .product-tab .nav-tabs .nav-item a {
          font-size: 16px; } }
    .new-product .product-tab .nav-tabs .nav-item .active {
      border: 0;
      color: #ee1a26; }
.new-product .product-tab .tab-content .owl-carousel .item .product .image {
  width: 165px;
  height: 165px;
  margin: auto; }
  .new-product .product-tab .tab-content .owl-carousel .item .product .image a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; }
.new-product .product-tab .tab-content .owl-carousel .item .product .title-product {
  text-align: left; }
  .new-product .product-tab .tab-content .owl-carousel .item .product .title-product a {
    color: #424141;
    text-decoration: none;
    width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 20px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical; }
    @media screen and (max-width: 768px) {
      .new-product .product-tab .tab-content .owl-carousel .item .product .title-product a {
        width: 100%; } }
  .new-product .product-tab .tab-content .owl-carousel .item .product .title-product p {
    color: #ee1a26;
    font-weight: bold;
    font-size: 16px; }

.list-product {
  padding-top: 20px; }
  .list-product .product-box .list-category {
    display: flex;
    width: 100%;
    height: 50px;
    border: 1px solid #ededed; }
    .list-product .product-box .list-category .item-category {
      width: 25%;
      height: 100%;
      background-color: #ee1a26;
      display: flex;
      align-items: center;
      padding-left: 25px; }
      @media screen and (max-width: 1024px) {
        .list-product .product-box .list-category .item-category {
          width: 100%; } }
      .list-product .product-box .list-category .item-category a {
        color: #fff;
        text-transform: uppercase;
        font-weight: bold; }
    .list-product .product-box .list-category .list-sub-cate {
      width: 75%; }
      @media screen and (max-width: 1200px) {
        .list-product .product-box .list-category .list-sub-cate {
          display: none !important; } }
      .list-product .product-box .list-category .list-sub-cate .nav-category {
        outline: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 100%; }
  .list-product .product-box .product-detail {
    display: flex; }
    .list-product .product-box .product-detail .banner-product {
      height: 484px;
      width: 25%; }
      @media screen and (max-width: 1100px) {
        .list-product .product-box .product-detail .banner-product {
          display: none !important; } }
      .list-product .product-box .product-detail .banner-product img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .list-product .product-box .product-detail .product {
      width: 75%;
      flex-wrap: wrap;
      display: flex; }
      @media screen and (max-width: 1024px) {
        .list-product .product-box .product-detail .product {
          width: 100%; } }
      .list-product .product-box .product-detail .product .item {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #ededed; }
        @media screen and (min-width: 320px) {
          .list-product .product-box .product-detail .product .item {
            width: 100%; } }
        @media screen and (min-width: 768px) {
          .list-product .product-box .product-detail .product .item {
            width: 50%; } }
        @media screen and (min-width: 1024px) {
          .list-product .product-box .product-detail .product .item {
            width: 33.333%; } }
        @media screen and (min-width: 1200px) {
          .list-product .product-box .product-detail .product .item {
            width: 25%;
            max-height: 50%; } }
        .list-product .product-box .product-detail .product .item .image {
          width: 170px;
          height: 118px;
          margin: auto; }
          .list-product .product-box .product-detail .product .item .image img {
            width: 100%;
            height: 100%;
            object-fit: cover; }
        .list-product .product-box .product-detail .product .item .title-product {
          padding-top: 10px;
          color: #000;
          font-size: 16px;
          margin: auto; }
          .list-product .product-box .product-detail .product .item .title-product a {
            color: #000;
            text-decoration: none;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 20px;
            -webkit-line-clamp: 2;
            display: -webkit-box;
            -webkit-box-orient: vertical; }
            .list-product .product-box .product-detail .product .item .title-product a:hover {
              color: #ee1a26; }
          .list-product .product-box .product-detail .product .item .title-product p {
            color: #ee1a26; }
  .list-product .product-box .list-categories {
    display: flex; }
    .list-product .product-box .list-categories .item-category {
      width: 25%; }
      @media screen and (min-width: 320px) {
        .list-product .product-box .list-categories .item-category {
          display: none; } }
      @media screen and (min-width: 1024px) {
        .list-product .product-box .list-categories .item-category {
          display: block; } }
      .list-product .product-box .list-categories .item-category .list-product-new {
        padding: 0; }
        .list-product .product-box .list-categories .item-category .list-product-new .product-detail {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 5px 0;
          border-bottom: 1px solid #ededed; }
          .list-product .product-box .list-categories .item-category .list-product-new .product-detail .image {
            width: 20%;
            height: 60px; }
            .list-product .product-box .list-categories .item-category .list-product-new .product-detail .image img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
          .list-product .product-box .list-categories .item-category .list-product-new .product-detail .blog-des {
            width: 75%; }
            .list-product .product-box .list-categories .item-category .list-product-new .product-detail .blog-des a {
              font-size: 14px;
              color: #424141;
              overflow: hidden;
              text-overflow: ellipsis;
              line-height: 20px;
              -webkit-line-clamp: 2;
              display: -webkit-box;
              -webkit-box-orient: vertical; }
              .list-product .product-box .list-categories .item-category .list-product-new .product-detail .blog-des a:hover {
                color: #ee1a26; }
            .list-product .product-box .list-categories .item-category .list-product-new .product-detail .blog-des p {
              font-size: 12px;
              color: #ee1a26; }
      .list-product .product-box .list-categories .item-category .list-blogs {
        padding: 0; }
        .list-product .product-box .list-categories .item-category .list-blogs .blog-detail {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          padding: 5px 0;
          border-bottom: 1px solid #ededed; }
          .list-product .product-box .list-categories .item-category .list-blogs .blog-detail .image {
            width: 20%;
            height: 30px; }
            .list-product .product-box .list-categories .item-category .list-blogs .blog-detail .image img {
              width: 100%;
              height: 100%;
              object-fit: cover; }
          .list-product .product-box .list-categories .item-category .list-blogs .blog-detail .blog-des {
            width: 75%; }
            .list-product .product-box .list-categories .item-category .list-blogs .blog-detail .blog-des a {
              font-size: 14px;
              color: #424141;
              overflow: hidden;
              text-overflow: ellipsis;
              line-height: 20px;
              -webkit-line-clamp: 2;
              display: -webkit-box;
              -webkit-box-orient: vertical; }
              .list-product .product-box .list-categories .item-category .list-blogs .blog-detail .blog-des a:hover {
                color: #ee1a26; }
      .list-product .product-box .list-categories .item-category .category {
        width: 100%;
        height: 44px;
        background-color: #fff;
        border-radius: 8px 8px 0px 0;
        border: 1px solid #ee1a26; }
        .list-product .product-box .list-categories .item-category .category a {
          font-weight: bold;
          color: #ee1a26;
          padding-left: 25px;
          font-size: 16px;
          display: flex;
          align-items: center;
          height: 100%;
          text-decoration: none; }
      .list-product .product-box .list-categories .item-category .filter-brands .form-check {
        padding: 6px 30px; }
      .list-product .product-box .list-categories .item-category .list-group {
        background: #fff; }
        .list-product .product-box .list-categories .item-category .list-group .sub_menu {
          margin-left: 15px;
          padding-left: 10px;
          border-left: 1px solid #ededed; }
          .list-product .product-box .list-categories .item-category .list-group .sub_menu a {
            font-size: 14px;
            border-bottom: 1px solid #ededed; }
          .list-product .product-box .list-categories .item-category .list-group .sub_menu .list-group-item {
            border: none;
            padding: 5px 0;
            background: transparent;
            border-bottom: 1px solid #ededed; }
            .list-product .product-box .list-categories .item-category .list-group .sub_menu .list-group-item:hover {
              color: #ee1a26 !important; }
          .list-product .product-box .list-categories .item-category .list-group .sub_menu .active {
            color: #ee1a26; }
        .list-product .product-box .list-categories .item-category .list-group .category-item {
          padding: 5px 0;
          border-bottom: 1px solid #ededed !important; }
        .list-product .product-box .list-categories .item-category .list-group .list-group-items {
          padding: 8px;
          border-top: none;
          border-right: none;
          border-left: none;
          border-bottom: 1px solid #ededed !important; }
          .list-product .product-box .list-categories .item-category .list-group .list-group-items:hover {
            color: #ee1a26 !important; }
          .list-product .product-box .list-categories .item-category .list-group .list-group-items .text-dark:hover {
            color: #ee1a26; }
        .list-product .product-box .list-categories .item-category .list-group .list-group-items[aria-expanded="false"] .submenu-icon::after {
          content: " \f105";
          font-family: FontAwesome;
          display: inline;
          text-align: right;
          padding-left: 10px; }
        .list-product .product-box .list-categories .item-category .list-group .list-group-items[aria-expanded="true"] .submenu-icon::after {
          content: " \f107";
          font-family: FontAwesome;
          display: inline;
          text-align: right;
          padding-left: 10px; }
    @media screen and (min-width: 320px) {
      .list-product .product-box .list-categories .list-sub-cate {
        width: 100%; } }
    @media screen and (min-width: 1024px) {
      .list-product .product-box .list-categories .list-sub-cate {
        width: 75%; } }
    .list-product .product-box .list-categories .list-sub-cate .detail-news {
      padding: 5px 15px;
      box-shadow: 0 3px 6px -4px, 0 4px 6px; }
      .list-product .product-box .list-categories .list-sub-cate .detail-news .dt-news__body .dt-news__sapo .name-news {
        font-weight: bold;
        text-transform: uppercase;
        color: #ee1a26; }
      .list-product .product-box .list-categories .list-sub-cate .detail-news .dt-news__body .dt-news__sapo h2 {
        font-size: 24px; }
    .list-product .product-box .list-categories .list-sub-cate .news-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #ededed;
      box-shadow: 0 3px 6px -4px;
      position: relative; }
      .list-product .product-box .list-categories .list-sub-cate .news-item:hover .calendar {
        background: #ee1a26;
        color: #fff; }
      .list-product .product-box .list-categories .list-sub-cate .news-item .image {
        width: 40%;
        height: 215px; }
        @media screen and (max-width: 500px) {
          .list-product .product-box .list-categories .list-sub-cate .news-item .image {
            display: none; } }
        .list-product .product-box .list-categories .list-sub-cate .news-item .image img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .list-product .product-box .list-categories .list-sub-cate .news-item .news-detail {
        width: 56%; }
        @media screen and (max-width: 500px) {
          .list-product .product-box .list-categories .list-sub-cate .news-item .news-detail {
            width: 100%;
            padding-left: 50px;
            height: 140px; } }
        .list-product .product-box .list-categories .list-sub-cate .news-item .news-detail a {
          font-weight: bold;
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 36px;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          color: #000;
          font-size: 22px;
          text-decoration: none;
          margin-bottom: 10px; }
          .list-product .product-box .list-categories .list-sub-cate .news-item .news-detail a:hover {
            color: #ee1a26; }
        .list-product .product-box .list-categories .list-sub-cate .news-item .news-detail p {
          overflow: hidden;
          text-overflow: ellipsis;
          line-height: 20px;
          -webkit-line-clamp: 2;
          display: -webkit-box;
          -webkit-box-orient: vertical; }
      .list-product .product-box .list-categories .list-sub-cate .news-item .calendar {
        position: absolute;
        width: 40px;
        height: 40px;
        top: 10px;
        left: -10px;
        border: 2px solid #ee1a26;
        background: #fff;
        color: #ee1a26;
        font-weight: bold;
        text-align: center;
        line-height: 1.25; }
        .list-product .product-box .list-categories .list-sub-cate .news-item .calendar span {
          margin-bottom: 0;
          font-size: 14px; }
        .list-product .product-box .list-categories .list-sub-cate .news-item .calendar p {
          margin-bottom: 0;
          font-size: 12px; }

.slogan-primary {
  padding: 40px 0; }
  .slogan-primary .slogan-box {
    width: 100%; }
    .slogan-primary .slogan-box h3 {
      font-weight: bold;
      text-align: center;
      color: #ee1a26; }
      @media screen and (min-width: 320px) {
        .slogan-primary .slogan-box h3 {
          font-size: 18px; } }
      @media screen and (min-width: 1024px) {
        .slogan-primary .slogan-box h3 {
          font-size: 22px; } }
      @media screen and (min-width: 1024px) {
        .slogan-primary .slogan-box h3 {
          font-size: 24px; } }

.company .owl-logo .owl-item {
  width: auto !important; }
  .company .owl-logo .owl-item:active {
    width: auto !important; }
.company .owl-logo .item {
  width: auto;
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .company .owl-logo .item img {
    max-height: 100%;
    width: auto; }

.dropdown-menu > li.kopie > a {
  padding-left: 5px; }

.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  width: 300px;
  padding: 0;
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px 6px;
  border-radius: 0 6px 6px 6px; }

.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;
  height: 0;
  margin-right: -10px;
  margin-top: 5px;
  width: 0; }

.dropdown-submenu:hover > a:after {
  border-left-color: #555; }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: none; }

@media (max-width: 767px) {
  .navbar-nav {
    display: inline; }

  .navbar-default .navbar-brand {
    display: inline; }

  .navbar-default .navbar-toggle .icon-bar {
    background-color: #fff; }

  .navbar-default .navbar-nav .dropdown-menu > li > a {
    color: red;
    background-color: #ccc;
    border-radius: 4px;
    margin-top: 2px; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    background-color: #ccc; }

  .navbar-nav .open .dropdown-menu {
    border-bottom: 1px solid white;
    border-radius: 0; }

  .dropdown-menu {
    padding-left: 10px; }

  .dropdown-menu .dropdown-menu {
    padding-left: 20px; }

  .dropdown-menu .dropdown-menu .dropdown-menu {
    padding-left: 30px; }

  li.dropdown.open {
    border: 0px solid red; } }
@media (min-width: 768px) {
  ul.nav li:hover > ul.dropdown-menu {
    display: block; }

  #navbar {
    text-align: center; } }
.breacum .breacum-box .page-title {
  font-size: 28px;
  margin-bottom: 0;
  padding-top: 5px; }
  @media screen and (min-width: 320px) {
    .breacum .breacum-box .page-title {
      font-size: 22px; } }
  @media screen and (min-width: 320px) {
    .breacum .breacum-box .page-title {
      font-size: 28px; } }
.breacum .breacum-box .breadcrumb {
  font-size: 13px;
  background: #fff;
  padding: 0; }
  .breacum .breacum-box .breadcrumb a {
    color: #ee1a26; }
.breacum .result {
  display: flex;
  justify-content: center;
  align-items: center; }
  .breacum .result h3 {
    width: 50%;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 0; }
    @media screen and (min-width: 320px) {
      .breacum .result h3 {
        display: none; } }
    @media screen and (min-width: 768px) {
      .breacum .result h3 {
        display: block;
        font-size: 14px; } }
    @media screen and (min-width: 1200px) {
      .breacum .result h3 {
        font-size: 16px; } }
  .breacum .result select {
    width: 50% !important; }
    @media screen and (min-width: 320px) {
      .breacum .result select {
        width: 100% !important; } }
    @media screen and (min-width: 768px) {
      .breacum .result select {
        width: 50% !important; } }

.product {
  width: 75%;
  flex-wrap: wrap;
  display: flex; }
  @media screen and (max-width: 1024px) {
    .product {
      width: 100%; } }
  .product .item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ededed; }
    @media screen and (min-width: 320px) {
      .product .item {
        width: 100%; } }
    @media screen and (min-width: 768px) {
      .product .item {
        width: 50%; } }
    @media screen and (min-width: 1024px) {
      .product .item {
        width: 33.333%; } }
    @media screen and (min-width: 1200px) {
      .product .item {
        width: 25%; } }
    .product .item .image {
      width: 170px;
      height: 118px; }
      .product .item .image img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .product .item .title-product {
      padding: 5px;
      color: #000;
      font-size: 16px;
      margin: auto; }
      .product .item .title-product a {
        color: #000;
        text-decoration: none;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 20px;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical; }
        .product .item .title-product a:hover {
          color: #ee1a26; }
      .product .item .title-product p {
        color: #ee1a26; }

.contact .contact-detail h1 {
  font-size: 26px;
  color: #ee1a26;
  font-weight: bold; }
.contact .form-contact h2 {
  font-size: 24px;
  color: #424141;
  font-weight: bold; }

.detai--product {
  width: 100%; }
  .detai--product .slider-product #vertical {
    height: auto !important; }
  .detai--product .slider-product .lSGallery {
    margin: auto !important; }
    .detai--product .slider-product .lSGallery .active {
      border: 1px solid #ee1a26; }
  @media screen and (max-width: 768px) {
    .detai--product .slider-product .lSSlideWrapper {
      height: 280px; } }
  .detai--product .slider-product .lSSlide .lslide {
    width: 380px;
    height: 380px; }
    @media screen and (max-width: 768px) {
      .detai--product .slider-product .lSSlide .lslide {
        height: auto !important; } }
    .detai--product .slider-product .lSSlide .lslide img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .detai--product .infomation_product {
    border-bottom: 1px solid #ededed; }
    .detai--product .infomation_product .infomation {
      display: flex;
      justify-content: center;
      padding: 0 5px; }
      @media screen and (max-width: 768px) {
        .detai--product .infomation_product .infomation {
          display: block; } }
      .detai--product .infomation_product .infomation .title {
        border-right: 1px solid #ededed;
        width: 65%;
        padding: 20px; }
        @media screen and (max-width: 768px) {
          .detai--product .infomation_product .infomation .title {
            width: 100%;
            border-right: none;
            padding: 20px 0; } }
        .detai--product .infomation_product .infomation .title h1 {
          font-size: 32px;
          font-weight: bold;
          margin-bottom: 0; }
      .detai--product .infomation_product .infomation .advisory {
        width: 35%;
        display: flex;
        justify-content: center;
        align-items: center; }
        @media screen and (max-width: 768px) {
          .detai--product .infomation_product .infomation .advisory {
            width: 100%; } }
        .detai--product .infomation_product .infomation .advisory .box-image {
          width: 60px;
          height: 60px; }
          .detai--product .infomation_product .infomation .advisory .box-image img {
            width: 100%;
            height: 100%; }
        .detai--product .infomation_product .infomation .advisory .box-text {
          font-weight: bold; }
          .detai--product .infomation_product .infomation .advisory .box-text p {
            margin-bottom: 0; }
          .detai--product .infomation_product .infomation .advisory .box-text span {
            color: #ee1a26;
            font-size: 18px; }
  .detai--product .parameter table tr {
    border-bottom: 1px solid #ededed; }
    .detai--product .parameter table tr td {
      padding: 15px; }
  .detai--product .parameter .btn-order {
    width: 100%;
    height: 40px;
    background-color: #ee1a26;
    color: #fff;
    font-size: 18px;
    font-weight: bold; }
    @media screen and (max-width: 768px) {
      .detai--product .parameter .btn-order {
        margin: 20px 0; } }
  .detai--product .parameter .chinhsach i {
    color: #0066b4; }

.featured-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }
  .featured-box .icon-box-img {
    width: 15%; }
    @media screen and (max-width: 768px) {
      .featured-box .icon-box-img {
        width: 25%; } }
    @media screen and (max-width: 768px) {
      .featured-box .icon-box-img {
        display: none; } }
  .featured-box .last-reset {
    width: 86%; }
    @media screen and (max-width: 768px) {
      .featured-box .last-reset {
        width: 100%; } }

#advisory .form-group {
  margin-bottom: 0; }

#myTab1 {
  border: 1px solid #dee2e6; }
  #myTab1 .nav-item {
    width: 150px;
    text-align: center; }
    @media screen and (max-width: 768px) {
      #myTab1 .nav-item {
        width: 50%; } }
    #myTab1 .nav-item .nav-link {
      border: 1px solid #dee2e6;
      border-radius: 0;
      color: #424141; }
    #myTab1 .nav-item .active {
      border-bottom: 1px solid #fff;
      color: #ee1a26; }

.rate {
  float: left;
  height: 46px;
  padding: 0 10px; }

.rate:not(:checked) > input {
  position: absolute;
  top: -9999px; }

.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc; }

.rate:not(:checked) > label:before {
  content: '★ '; }

.rate > input:checked ~ label {
  color: #ffc700; }

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217; }

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08; }

.titlt-web {
  font-size: 36px;
  text-align: center; }

.btn--bottom {
  color: #424141;
  text-decoration: none !important; }
  .btn--bottom:hover {
    color: #ee1a26; }

/*# sourceMappingURL=style.css.map */
